<div class='well'>
  <h4>Current Members:</h4>
  <ul>
    {{#each members as |member|}}
      <li>
        {{#link-to 'member-profile' member.id}}{{member.screenName}}{{/link-to}}
        <i {{action 'removeFromGroup' member group}} class="trash icon"></i>
      </li>
    {{/each}}
  </ul>
  <hr>
  <h3>Add a member to this Group!</h3>
  <form id="searchName">
    <label>Input member's screenname:</label>
    {{input value=searchTerm class="form-control" placeholder="screenname"}}
    <button class="ui button tiny" {{action 'searchName'}}>Search</button>
  </form>

  {{#if foundMember}}
    <p>Found Member: {{foundMember.screenName}} <button {{action 'addToGroup' foundMember group}}>Add to group!</button></p>
    <ul>
      <li>{{foundMember.firstName}}({{foundMember.screenName}})</li>
    </ul>
  {{/if}}
</div>
