<h3>Add a member to this Group!</h3>
<form id="searchName">
  <label>Input member's screenname:</label>
  {{input value=searchTerm}}
  <button class="ui button" {{action 'searchName'}}>Search</button>
</form>

{{#if foundMember}}
  <p>Found Member: {{foundMember.screenName}} <button {{action 'addToGroup' foundMember group}}>Add to group!</button></p>
  <ul>
    <li>{{foundMember.firstName}}({{foundMember.screenName}})</li>
  </ul>
{{/if}}

<h4>Group Members</h4>
<ul>
  {{#each members as |member|}}
    <li>{{member.screenName}}</li>
  {{/each}}
</ul>
