<div id="account-options">
  <button id="update-button" class="ui button" data-toggle="modal" data-target="#editInfoModal">Update Profile</button>
  <br>
  <a {{action "destroyMember" member}} id="delete-account"><small>Delete Account</small></a>
</div>

<!-- Modal -->
<div class="modal fade" id="editInfoModal" tabindex="-1" role="dialog" aria-labelledby="editInfoModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
        <h4 class="modal-title" id="editInfoModalLabel">Update Profile</h4>
      </div>
      <div class="modal-body">
        <div id="update-form">
          <div class="form-group">
            <label>First Name:</label>
            {{input value=editFirstName id="editFirstName" class="form-control" placeholder=member.firstName}}
          </div>
          <div class="form-group">
            <label>Last Name:</label>
            {{input value=editLastName id="editLastName" class="form-control" placeholder=member.lastName}}
          </div>
          <div class="form-group">
            <label>Screen Name:</label>
            {{input value=editScreenName id="editScreenName" class="form-control" placeholder=member.screenName}}
          </div>
          <div class="form-group">
            <label>City:</label>
            {{input value=editCity id="editCity" class="form-control" placeholder=member.city}}
          </div>
          <div class="form-group">
            <label>State:</label>
            {{input value=editState id="editState" class="form-control" placeholder=member.state}}
          </div>
          <div class="form-group">
            <label>Zip Code:</label>
            {{input value=editZipCode id="editZipCode" class="form-control" placeholder=member.zipCode}}
          </div>
          <div class="form-group">
            <label>Avatar:</label>
            {{input value=editAvatar id="editAvatar" class="form-control" placeholder=member.avatar}}
          </div>
          <div class="form-buttons modal-footer">
            <button id="close-button" class="ui button" data-dismiss="modal">Close</button>
            <button class="ui button" {{action "editInfo" member}} data-dismiss="modal">Save Changes</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
