<div class="well">
  {{#if isOwner}}
  <div class="edit-options">
    <i id="update-post-icon" {{action 'showForm'}} class="write icon"></i>
    <i id="delete-post-icon" {{action 'deletePost' post}} class="remove icon"></i>
  </div>
  {{/if}}
  <div>{{moment-from-now post.date}}</div>
  <p>{{post.member.firstName}}</p>
  <p>{{post.content}}</p>
  <form id="dashboard-comment">
    {{input value=commentContent placeholder="Leave a comment" class="form-control"}}
    <button {{action 'saveComment' post}} class="ui button">comment</button>
  </form>
  <br>
  {{#if showForm}}
    <div class="form-group">
      {{input value=content placeholder=post.content class='form-control'}}
    </div>
    <button {{action 'updatePost' post}} class='btn btn-primary'>Post</button>
  {{/if}}
  {{#each post.comments as |comment|}}
    {{comment-tile comment=comment}}
  {{/each}}
</div>
