<div>
  <h2>New to pdxBranch?</h2>
  <p>Make a profile and start collaborating!</p>
  <button class="ui button" {{action "githubSignUp" "github"}}>Sign Up with GitHub</button>
  <br><br>
  <p id="sign-up-link" data-toggle="modal" data-target=".modal-sm-signup">Sign Up with Email</p>
</div>

<!-- Modal -->
<div class="modal fade modal-sm-signup" tabindex="-1" role="dialog" aria-labelledby="signUpModal" aria-hidden="true">
  <div class="modal-dialog modal-sm">
    <div id="sign-up-form" class="modal-content">
      <h3>Sign Up</h3>
      <hr>
      <div class='form-group'>
        <label for='newEmail'>Email:</label>
        {{input id='newEmail' value=newEmail class='form-control' enter='emailSignUp' placeholder="you@email.com"}}
      </div>
      <div class='form-group'>
        <label for='newPassword'>Password:</label>
        {{input type='password' id='newPassword' value=newPassword class='form-control' enter='emailSignUp' placeholder="password"}}
      </div>
      <button class="ui button" {{action 'emailSignUp' 'signUp'}} data-dismiss="modal">Sign Up</button>
      {{#if error}}
        <h4>Error: {{error}}</h4>
      {{/if}}
    </div>
  </div>
</div>
