<div class='row connection-display'>
  <div class='col-sm-6'>
    {{#if member.requests}}
      <div class="well">
        <h3>Pending Connection Requests</h3>
        {{#each member.requests as |request|}}
        <li><i {{action "addFriend"  member request.sentById request}} class="add user icon pending-connection"></i> {{request.name}} would like to add you as a friend</li>
        {{/each}}
      </div>
    {{/if}}
    <div class="well">
      <h3>My Connections</h3>
      {{#each member.friends as |friend|}}
      <li><i class="remove user icon remove-connection" {{action "removeFriend" friend member}}></i> {{friend.firstName}} {{friend.lastName}} - {{friend.screenName}}</li>
      {{/each}}
    </div>
  </div>
  <div class='col-sm-6'>
    <div class="well">
      <h3>Make a Connection</h3>
      {{#each members as |listMember|}}
      <li><i {{action "sendFriendRequest" listMember member}} class="add user icon add-connection"></i> {{listMember.firstName}} {{listMember.lastName}} - {{listMember.screenName}}</li>
      {{/each}}
    </div>
  </div>
</div>
