
<div class="well">
  <h3>Please complete the following form to finish signing up:</h3>
  <label for="">First Name:</label>
  {{input value=newFirstName id="newFirstName" class="form-control"}}
  <label for="">Last Name:</label>
  {{input value=newLastName id="newLastName" class="form-control"}}
  <label for="">Screen Name:</label>
  {{input value=session.currentUser.displayName id="newScreenName" class="form-control"}}
  <label for="">City:</label>
  {{input value=newCity id="newCity" class="form-control"}}
  <label for="">State:</label>
  {{input value=newState id="newState" class="form-control"}}
  <label for="">Zip Code:</label>
  {{input value=newZipCode id="newZipCode" class="form-control"}}
  <label for="">Avatar:</label>
  {{input value=session.currentUser.photoURL id="newAvatar" class="form-control"}}
  <button class="ui button" {{action "registerMember"}}>Sign Up</button>
</div>
