<div class="well">
  <div>{{post.content}}</div>
  <div>
    <em>{{moment-from-now post.date}}</em>
  </div>
  {{#if isOwner}}
  <i {{action 'deletePost' post}} class="remove large icon"></i>
  <i {{action 'showForm'}} class="write large icon"></i>
  {{/if}}
<br>
  {{#if showForm}}
    <div class="form-group">
      {{input value=content placeholder=post.content class='form-control'}}
    </div>
    <button {{action 'updatePost' post}} class='btn btn-primary'>Post</button>
  {{/if}}

<!-- Leave a comment -->
  <form>
    <div class="form-group">
      {{input value=commentContent placeholder="Leave a comment" class="form-control"}}
    </div>
    <button {{action 'saveComment' post}} class="ui button">comment</button>
  </form>
  {{#each post.comments as |comment|}}
    {{comment-tile comment=comment}}
  {{/each}}
</div>
