<div class="well">
  {{#if isOwner}}
  <div class="edit-options">
    <i {{action 'deletePost' post}} id="update-post-icon" class="remove icon"></i>
    <i {{action 'showForm'}} id="delete-post-icon" class="write icon"></i>
  </div>
  {{/if}}
  <div>{{post.content}}</div>
  <div>
    <em>{{moment-from-now post.date}}</em>
  </div>
<br>
  {{#if showForm}}
    <div class="form-group">
      {{input value=content placeholder=post.content class='form-control'}}
    </div>
    <button {{action 'updatePost' post}} class='btn btn-primary'>Post</button>
  {{/if}}

<!-- Leave a comment -->
  <form>
    <div class="form-group">
      {{input value=commentContent placeholder="Leave a comment" class="form-control"}}
    </div>
    <button {{action 'saveComment' post}} class="ui button">Comment</button>
  </form>
  {{#each post.comments as |comment|}}
    {{comment-tile comment=comment}}
  {{/each}}
</div>
