<div class="well">
  <div>{{post.content}}</div>
  <div>
    <em>{{moment-from-now post.date}}</em>
  </div>
  <i {{action 'deletePost' post}} class="remove large icon"></i>
  <i {{action 'showForm'}} class="write large icon"></i>
  {{#if showForm}}
    <div class="form-group">
      {{input value=content placeholder=post.content class='form-control'}}
    </div>
    <button {{action 'updatePost' post}} class='btn btn-primary'>Post</button>
  {{/if}}
</div>
