<div class="profile-detail">
  <h2>{{member.screenName}}'s Profile</h2>
  <img id="profile-img" src={{member.avatar}} onerror="this.src='http://www.pngall.com/wp-content/uploads/2016/05/Branch-Free-Download-PNG.png'">
  <div class="row">
    <div class="col-md-9">
      {{add-post savePost="savePost" member=session.currentUser}}
      <h4>Your Posts:</h4>
      {{#each sortedPosts as |post|}}
        {{post-tile post=post deletePost="deletePost" updatePost="updatePost" saveComment="saveComment" member=member}}
      {{/each}}
    </div>
    <div class="col-md-2 col-md-offset-1">
      <h3>Connections</h3>
      {{#each member.friends as |friend|}}
      <br>
        <img id="friend-avatar" src={{friend.avatar}} onerror="this.src='http://www.pngall.com/wp-content/uploads/2016/05/Branch-Free-Download-PNG.png'">
        {{#link-to 'member-profile' friend.id}} {{friend.screenName}}{{/link-to}}
        <br>
      {{/each}}
    </div>
  </div>
</div>
