<h2>{{model.group.name}}</h2>
<h4>{{model.group.description}}</h4>

{{chat-display messages=model.group.messages}}
<br>
{{message-new member=model.member group=model.group sendMessage="sendMessage"}}
<hr>
{{chat-member-add members=model.group.members group=model.group addMemberToGroup="addMemberToGroup" removeMemberFromGroup="removeMemberFromGroup"}}
