
<!-- More info about our site. Why you should sign up! -->

{{#if session.isAuthenticated}}
  {{new-member registerMember="registerMember"}}
  <button class="ui button" {{action "signOut"}}>Sign out</button>  <!-- move this to nav bar? -->

{{else}}
  <div class='text-center'>
    <div class='jumbotron'>
      <h2>Welcome to pdxBranch!</h2>
      <p>A hub for collaboration</p>
    </div>
    <div class='col-sm-6'>
      <h2>New to pdxBranch?</h2>
      <p>Make a profile and start collaborating</p>
      {{member-signup signIn="signIn" signUp="signUp" goToMembers="goToMembers"}}
    </div>
    <div class='col-sm-6'>
      <h2>Returning Members</h2>
      <p>Get back to work here</p>
      {{member-signin signIn="signIn" signInError=signInError goToMembers="goToMembers"}}
    </div>
  </div>
{{/if}}
