
<!-- More info about our site. Why you should sign up! -->

{{#if session.isAuthenticated}}
  {{new-member registerMember="registerMember"}}
  <button class="ui button" {{action "signOut"}}>Sign out</button>  <!-- move this to nav bar? -->

{{else}}
  <div class='row text-center'>
    <div class='jumbotron'>
      <h1>pdxBranch</h1>
      <img id="collaboration" src="/assets/images/collaboration-orange.png">
      <p>A Hub for Collaboration</p>
    </div>
    <div class='col-sm-6'>
      {{member-signup signIn="signIn" signUp="signUp" goToMembers="goToMembers"}}
    </div>
    <div class='col-sm-6'>
      {{member-signin signIn="signIn" signInError=signInError goToMembers="goToMembers"}}
    </div>
  </div>
{{/if}}
