<div class="row">
  <div class="col-sm-4">
    <div>
      {{#link-to 'member-profile' model.member.id}}
        <img id="member-avatar" class="img-responsive" src={{model.member.avatar}} onerror="this.src='http://www.pngall.com/wp-content/uploads/2016/05/Branch-Free-Download-PNG.png'">
      {{/link-to}}
      <h3 class="text-center">Hello,
      {{model.member.screenName}}!</h3>
    </div>
    {{edit-member editInfo="editInfo" destroyMember="destroyMember" member=model.member}}
    {{#link-to 'friends'}}<button class="ui button btn-block">Manage your connections</button>{{/link-to}}
    <br><br>
    {{group-list member=model.member}}
    {{new-group member=model.member addNewGroup="addNewGroup"}}
  </div>
  <div class="col-sm-8">
    {{add-post savePost="savePost" member=model.member}}
    <hr>
    {{posts-tiles member=model.member deletePosts="deletePost" updatePost="updatePost" saveComment="saveComment"}}
  </div>
</div>
