<div class="row">
  <div class="col-sm-4">
    <div>
      {{#link-to 'member-profile' model.member.id}}
        <img id="member-avatar" class="img-responsive" src={{model.member.avatar}} onerror="this.src='http://www.pngall.com/wp-content/uploads/2016/05/Branch-Free-Download-PNG.png'">
      {{/link-to}}
    </div>
    {{edit-member editInfo="editInfo" destroyMember="destroyMember" member=model.member}}
  </div>
  <div class="col-sm-8">
    <div class="row">
      <div class="col-sm-6">
        {{search-member members=model.members search="search"}}<br>
        {{add-post savePost="savePost" member=model.member}}
        {{model.member.screenName}}
      </div>
      <div class="col-sm-6">
        Your feed:<br><br>
        {{#each model.member.posts as |post|}}
          {{post-tile post=post}}
        {{/each}}
        <br><br>
        {{display-results seach="search"}}
        {{group-list member=model.member}}
        {{new-group member=model.member addNewGroup="addNewGroup"}}
      </div>
    </div>
  </div>
</div>
